[Unit]
Description=ffmpeg scripts start
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/zoetec/scripts/ffmpeg_start.sh

[Install]
WantedBy=multi-user.target
