[Unit]
Description=My custom command
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/zoetec/scripts/ffplay_start.sh

[Install]
WantedBy=custom.target
